[Desktop Entry]
Name=pymavlink tools
Comment=MAVLink protocol library and utilities
Encoding=UTF-8
Exec=bash -c "python3 -c 'import pymavlink; print(\"pymavlink\", pymavlink.__version__)'; exec bash"
Icon=kali-drone-mavlink
StartupNotify=false
Terminal=true
Type=Application
Categories=kali-drone-mavlink;kali-drone;
X-Kali-Package=python3-pymavlink
